.board {
position: relative;
width: auto;
overflow: hidden; 
color: white;
border-radius: 1rem;
border: 1px solid grey;
}


#container {
display: grid;
width:100vw;
height: 100vh;
grid-template-columns: fit-content(100%); 

}

@keyframes hover {
  0% {
   background: turquoise;
  }
  100% {
    background: crimson;
  }
}

.board {
  animation-name: hover;
  animation-duration: .25s;
  animation-fill-mode: both;
  animation-play-state:paused;     
}

.board:active,
.board:focus,
.board:hover {
  animation-fill-mode: forwards;
  animation-play-state: running;
}
body, #container{
  width: 500px;
  height: 500px;
}